{% extends "base.html" %}
{% block title %}Detalle del Envío{% endblock %}

{% block content %}
<h2>Detalle del Envío</h2>

<div class="card p-3">

    <p><strong>ID Envío:</strong> {{ envio.id_envio }}</p>
    <p><strong>Venta:</strong> #{{ envio.venta.id_venta }} — Cliente: {{ envio.venta.cliente.nombre }}</p>
    <p><strong>Empleado:</strong> {{ envio.empleado.nombre }}</p>
    <p><strong>Dirección:</strong> {{ envio.direccion_envio }}</p>
    <p><strong>Fecha:</strong> {{ envio.fecha_envio }}</p>
    <p><strong>Estado:</strong> {{ envio.estado_envio }}</p>

</div>

<a href="/envios/" class="btn btn-secondary mt-3">Regresar</a>

{% endblock %}
