{% extends "base.html" %}
{% block title %}Editar Empleado{% endblock %}

{% block content %}
<h2>Editar Empleado</h2>

<form action="" method="POST">
    {% csrf_token %}

    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" value="{{ empleado.nombre }}" required>

    <label>Puesto</label>
    <input type="text" name="puesto" class="form-control" value="{{ empleado.puesto }}">

    <label>Teléfono</label>
    <input type="text" name="telefono" class="form-control" value="{{ empleado.telefono }}">

    <label>Dirección</label>
    <input type="text" name="direccion" class="form-control" value="{{ empleado.direccion }}">

    <label>Fecha de contratación</label>
    <input type="date" name="fecha_contratacion" class="form-control" value="{{ empleado.fecha_contratacion }}">

    <label>Salario</label>
    <input type="number" step="0.01" name="salario" class="form-control" value="{{ empleado.salario }}">

    <button class="btn btn-primary mt-3">Actualizar</button>
</form>

{% endblock %}
