{% extends "base.html" %}
{% block title %}Eliminar Detalle de Compra{% endblock %}

{% block content %}
<h2>Eliminar Detalle de Compra</h2>

<div class="alert alert-danger">
    <p>¿Seguro que deseas eliminar este detalle?</p>

    <p><strong>Producto:</strong> {{ detalle.producto.nombre_producto }}</p>
    <p><strong>Cantidad:</strong> {{ detalle.cantidad }}</p>
    <p><strong>Subtotal:</strong> ${{ detalle.subtotal }}</p>
</div>

<form action="" method="POST">
    {% csrf_token %}
    <button class="btn btn-danger">Eliminar</button>
    <a href="/detalle_compra/{{ detalle.id_compra }}/" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}
