{% extends "base.html" %}
{% block title %}Editar Categoría{% endblock %}

{% block content %}
<h2>Editar Categoría</h2>

<form action="" method="POST">
    {% csrf_token %}

    <label>Nombre</label>
    <input type="text" name="nombre_categoria" class="form-control" value="{{ categoria.nombre_categoria }}" required>

    <label>Descripción</label>
    <textarea name="descripcion" class="form-control">{{ categoria.descripcion }}</textarea>

    <button class="btn btn-primary mt-3">Actualizar</button>
</form>

{% endblock %}
